body {
	margin:0px;
	padding: 0px;
	color: white;
	background-color: black;
	font-family: Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/*max-width:1024px;*/
	font-weight: 100;
	font-color: #E8E8E8;
	font-size: 14px;
}

a:link{
	color:#FFFFCC;
	text-decoration:none;
}

a:visited{
	color:#FFCC99;
	text-decoration:none;
}

img {
	height: auto;
	width: 100%;
	max-width:1024px;
	margin-left: auto;
	margin-right: auto;
	display:block;
}

h1{
	opacity:0.5;
	margin-left: auto;
        margin-right: auto;
	position:relative;
	margin-top:-5px;
	font-weight: 900;
	text-align:center;
	font-color: rgba(255,255,255,0.5);
	font-size: 900%;
	
}

div.header{
	padding:0px;
	overflow:hidden;
	height:150px;
	width: 100%;
	background-image: url(bg_bw.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	text-align: center;
}

div.content{
	padding-top:20px;
	margin-right:auto;
	margin-left:auto;
	max-width:1024px;
}

div.clear { 
  clear: both; 
}
div.caption { 
  display: block !important; 
  position: relative !important;
	padding-top:2px;
}
div.caption img { 
  position: absolute !important
}
div.caption span { 
  background: #000; 
  background: rgba(0,0,0,0.8); 
  color: white !important; 
  display: none; 
  padding: 20px 10px 20px;/* !important;*/ 
  text-align: center; 
  position: absolute !important;
  bottom: 0 !important; 
  left: 0 !important; 
}
div.caption span big {
  font-weight: bold; 
}

