body {
	color: white;
	background-color: black;
	font-family: Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width:1024px;
}


img {
	height: auto;
	width: 100%;
	max-width:1024px;
	margin-left: auto;
	margin-right: auto;
	display:block;
	padding-top:2px;
}

h1{
	size:16;
	margin-left: auto;
        margin-right: auto;
	font-weight: 100;
	text-align:center;

}
